{% extends 'web/base.html' %}
{% block title %}{{ vivienda.titulo }}{% endblock %}
{% block content %}
{% load static %}
    <div class="container-fluid">
        <hr>
		<div class="container" style="margin-top:30px">
		  <div class="row">
			<div class="col-sm-8">
                <h2>{{ vivienda.titulo }}</h2>
                <h5>{{ vivienda.ubicacion }}</h5>
                {% if user.is_authenticated %}<a href="{% url 'admin:viviendas_vivienda_change' vivienda.id%}">Editar</a><br><br>{%endif%}
                <div id="myCarousel_gallery" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                    {% for galeria in vivienda.galeria.all %}
                      <li data-target="#myCarousel_gallery" data-slide-to="{{forloop.counter}}" class="{% if forloop.counter == 1 %}active{%endif%}"></li>
                    {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                    {% for galeria in vivienda.galeria.all %}
                      <div class="carousel-item gallery {% if forloop.first %}active{% endif %}">
                        <img src="{{ galeria.imagen_gallery.url }}" alt="">
                      </div>
                    {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel_gallery" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel_gallery" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
                <br><br>
                <p>{{ vivienda.descripcion|safe }}</p>
                <br>
                <h2>{{ vivienda.operacion }}</h2>
                <h2>{{ vivienda.precio }} {% if vivienda.operacion == 'Alquiler' %}€/Dia{% else %}€{% endif %}</h2>
			</div>
		  </div>
		</div>
        <div class="container" style="margin-top:30px">
            <hr>
            <h2>Características</h2>
		    <div class="row caract">
                <div class="col">
                    <ul class="list-group">
                        <li class="list-group-item"><img style="width: 24px; height: 20px;" src="{% static 'web/img/icons/si-glyph-id-badge.svg' %}"> Identificador</li>
                        <li class="list-group-item"><img style="width: 24px; height: 20px;" src="{% static 'web/img/icons/si-glyph-bed.svg' %}"> Dormitorios</li>
                        <li class="list-group-item"><img style="width: 24px; height: 20px;" src="{% static 'web/img/icons/si-glyph-square-dashed-2.svg' %}"> Superficie(m2)</li>
                        <li class="list-group-item"><img style="width: 24px; height: 20px;" src="{% static 'web/img/icons/si-glyph-house.svg' %}"> Tipo</li>
                        <li class="list-group-item"><img style="width: 24px; height: 20px;" src="{% static 'web/img/icons/si-glyph-shower.svg' %}"> Baños</li>
                        <li class="list-group-item"><img style="width: 24px; height: 20px;" src="{% static 'web/img/icons/si-glyph-caterpillar-machine.svg' %}"> Fecha de construcción</li>
                    </ul>
                </div>

                <div class="col">
                    <ul class="list-group">
                        <li class="list-group-item">{{ vivienda.id }}</li>
                        <li class="list-group-item">{{ vivienda.dormitorios }}</li>
                        <li class="list-group-item">{{ vivienda.superficie }}</li>
                        <li class="list-group-item">{{ vivienda.tipo }}</li>
                        <li class="list-group-item">{{ vivienda.banos }}</li>
                        <li class="list-group-item">{{ vivienda.antiguedad }}</li>
                    </ul>
                </div>
		  </div>
		</div>
        <div class="container" style="margin-top:30px">
            <hr>
		  <div class="row">
			<div class="col-sm-8">
                <h2>Ubicación</h2>
                <div class="row">
                    <div class="col">
                        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAOKJna-5QpOVSChlOdYiMRIxxp5kOyWY8&q={{vivienda.altitud}},{{vivienda.latitud}}" width="99%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
			</div>
		  </div>
		</div>

        <div class="container" style="margin-top:30px">
            <hr>
		  <div class="row">
			<div class="col-sm-8">
                <h2>Eficiencia Energética: {{ vivienda.eficiencia }}</h2>
                <div class="row">
                    <div class="col">
                        <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'web/img/energetica.jpg' %}" style="width: 750px; height: 350px" alt="">
                    </div>
                </div>
			</div>
		  </div>
		</div>
        <hr>
    </div>
{% endblock %}