{% extends 'web/base.html' %}
{% block title %}Contacto{% endblock %}
{% block headers %}
	<h1>Sección de contacto</h1>
{% endblock %}
{% load static %}
{% block content %}
<br>
<div class="wrapper-container" style="margin-top:30px">
    <div class="container-fluid bg-grey">
      <hr>
      <div class="row">
        <div class="col-sm-5 contacto">
          <br><br>
          <p>Contacte con nosotros y responderemos en menos de 24 horas.</p>
          <ul class="nav nav-pills flex-column">
          {% for contacto in contacto %}
            <li class="nav-item">
                <p><img style="width: 24px; heigth: 24px;" src="{% if contacto.tipo == 'Teléfono' %}{% static 'web/img/icons/si-glyph-smartphone.svg'%}{% elif contacto.tipo == 'Email' %}{% static 'web/img/icons/si-glyph-mail.svg'%}{% else %}{% static 'web/img/icons/si-glyph-pin-location.svg'%}{% endif %}"> {{contacto.tipo}}: {{contacto.valor}}</p>
            </li>
          {% endfor %}
          </ul>
          <div class="col">
            <iframe class ="contact" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1601.5027590072684!2d-4.529143841043481!3d36.602176145769164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72fc8460624737%3A0xaa85a4ce03c240b9!2sCalle+Medina+Azahara%2C+29631+Benalm%C3%A1dena%2C+M%C3%A1laga!5e0!3m2!1ses!2ses!4v1539706595892" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-sm-5 formulario">
          <h2 class="text-center">Formulario de Contacto</h2>
          <form role="form" id="ContactForm" action="" method="POST">
              {% csrf_token %}
              <div class="form-group contact">
                  <label class="control-label" for="txtNombre">Nombre y Apellidos</label>
                  {{form.name}}
              </div>
              <p id="errorName"></p>

              <div class="form-group contact">
                  <label class="control-label" for="txtEmail">Dirección de Correo Electrónico</label>
                  {{form.email}}
              </div>
              <p id="errorEmail"></p>

              <div class="form-group contact">
                  <label class="control-label" for="txtArea">Mensaje</label>
                  {{form.content}}
              </div>
              <p id="errorArea"></p>

              <div class="form-group contact">
                  {{form.privacy}}
                  {% for politicas in politicas %}
                    {% if politicas.id == 6 %}
                        <label class="control-label privacy" for="privacy">Acepte nuestras <a href="{% url 'politicas' politicas.id politicas.nombre|slugify %}">Politicas de privacidad</a></label>
                    {% endif %}
                  {% endfor %}
              </div>
              <p id="errorPrivacy"></p>

              <div class="form-group">
                  <input type="submit" id="enviar" class="btn btn-primary" value="Enviar">
                  <input type="reset" class="btn btn-default" value="Limpiar">
              </div>
              {% if 'enviado' in request.GET %}
                <p style="color:green;"><b>Mensaje enviado correctamente.</b></p>
              {% elif 'error' in request.GET %}
                <p style="color:red;"><b>Se ha producido un error en el envío del mensaje. Inténtelo de nuevo más tarde.</b></p>
              {% endif %}
          </form>
        </div>
      </div>
      <hr><br>
    </div>
</div>
{% endblock %}