{% extends 'prueba/base.html' %}
{% block title %}Seccion de prueba{% endblock %}
{% block content %}
    <div class="container-fluid">
		<div class="container" style="margin-top:30px">
		  <div class="row">
			<div class="col-sm-8">
                <h2>Título de Contenido</h2>
                <h5>Descripción del título</h5>
                <div class="fakeimg">Imagen de prueba</div>
                <p>Descripción del contenido.</p>
                <br>
                <h2>PRECIO</h2>
			</div>
		  </div>
		</div>

        <div class="container" style="margin-top:30px">
            <h2>Características</h2>
		    <div class="row">
                <div class="col">
                    <ul class="list-group">
                        <li class="list-group-item">Identificador</li>
                        <li class="list-group-item">Operación</li>
                        <li class="list-group-item">Dormitorios</li>
                        <li class="list-group-item">Precio</li>
                        <li class="list-group-item">Superficie(m2)</li>
                        <li class="list-group-item">Ubicación</li>
                        <li class="list-group-item">Tipo</li>
                        <li class="list-group-item">Baños</li>
                        <li class="list-group-item">Antigüedad</li>
                    </ul>
                </div>

                <div class="col">
                    <ul class="list-group">
                        <li class="list-group-item">HTRJYR17</li>
                        <li class="list-group-item">Venta</li>
                        <li class="list-group-item">2</li>
                        <li class="list-group-item">50.000€</li>
                        <li class="list-group-item">25</li>
                        <li class="list-group-item">Málaga</li>
                        <li class="list-group-item">Ático</li>
                        <li class="list-group-item">3</li>
                        <li class="list-group-item">2005</li>
                    </ul>
                </div>
		  </div>
		</div>

        <div class="container" style="margin-top:30px">
		  <div class="row">
			<div class="col-sm-8">
                <h2>Ubicación</h2>
                <div class="row">
                    <div class="col">
                        <iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&height=600&hl=es&coord=36.602348, -4.529332&q=Calle%20Medina%20Azahara%2C%20Benalmadena%2C%20Espa%C3%B1a+(Mi%20nombre%20de%20egocios)&ie=UTF8&t=&z=18&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/crear-un-mapa-de-google/"></iframe>
                    </div>
                </div>
			</div>
		  </div>
		</div>

        <div class="container" style="margin-top:30px">
		  <div class="row">
			<div class="col-sm-8">
                <h2>Eficiencia Energética</h2>
                <div class="row">
                    <div class="col">
                        <div class="fakeimg">Imagen de prueba de la Eficiencia Energética</div>
                    </div>
                </div>
			</div>
		  </div>
		</div>
    </div>
{% endblock %}