{% extends 'web/base.html' %}
{% block title %}Inicio{% endblock %}
{% block headers %}
	<h1>Cabecera de inicio</h1>
{% endblock %}
{% block content %}
{% load static %}
{% load is_mobile %}
{% device_is_mobile request as device_is_mobile %}
<div class="wrapper-container" style="margin-top:30px">

	<div class="container">
		<hr>
		<h2 style="text-decoration: underline;">Propiedades Destacadas</h2>
		<br><br>
		{% if destacado %}
			{% for destacado in destacado|dictsort:"id" reversed %}
				{% if forloop.counter|divisibleby:2 or device_is_mobile %}
					<div class="row home_row">
						<div class="col-md-7">
							<div class="container-fade {% if not device_is_mobile %}more-info-container{% endif %}">
							  <a href="{% url 'vivienda' destacado.id destacado.titulo|slugify%}">
									<img class="img-fluid rounded mb-3 mb-md-0 img-more-info" src="{{destacado.imagen.url}}" style="width: 100%; height: 100%;" alt="">
									  {% if not device_is_mobile %}
									<div class="more-info"><p>Más información</p></div>
									  {% endif %}
							  </a>
							</div>
						</div>
						<div class="col-md-5">
							<h3>{{destacado.titulo}}</h3>
							<h3>{{destacado.ciudad}}{% if destacado.direccion %}, {{destacado.direccion}} {% endif %}</h3>
							<h4>{{destacado.operacion}}: <span class="precio">{{destacado.precio}}</span> €{% if destacado.operacion == 'Alquiler' %}/Mes{%endif%}</h4>
							<p>{{destacado.descripcion|safe}}</p>
								<span><img style="width: 24px; height: 20px;" src="{% static 'web/img/icons/si-glyph-bed.svg' %}"> {% if destacado.dormitorios %} {{ destacado.dormitorios }}&emsp;{% else %} 0&emsp;{% endif %}</span>
								<span><img style="width: 24px; height: 20px;" src="{% static 'web/img/icons/si-glyph-toilet.svg' %}"> {% if destacado.banos %} {{ destacado.banos }}&emsp;{% else %} 0&emsp;{% endif %}</span>
								<span><img style="width: 24px; height: 20px;" src="{% static 'web/img/icons/si-glyph-shower.svg' %}">{% if destacado.aseos %} {{ destacado.aseos }}&emsp;{% else %} 0&emsp;{% endif %}</span>
							{% if destacado.superficie_construida %}<span><img style="width: 24px; height: 20px;" src="{% static 'web/img/icons/si-glyph-square-dashed-2.svg' %}"> <span class="supcons">{{ destacado.superficie_construida }}</span> (m2c)</span>{% endif %}
							{% if destacado.superficie_parcela %}<span>{% if not destacado.superficie_construida %}<img style="width: 24px; height: 20px;" src="{% static 'web/img/icons/si-glyph-square-dashed-2.svg' %}">{% endif %} <span class="supcons">{{ destacado.superficie_parcela }}</span> (m2parc)</span>{% endif %}
								<br>

							<a class="btn btn-primary info" href="{% url 'vivienda' destacado.id destacado.titulo|slugify%}">Más información</a>
						</div>
						<br>
				  </div>
				<br>
				<hr class="home_hr">
				{% else %}

					<div class="row home_row">
						<div class="col-md-5">
							<h3>{{destacado.titulo}}</h3>
							<h3>{{destacado.ciudad}}{% if destacado.direccion %}, {{destacado.direccion}} {% endif %}</h3>
							<h4>{{destacado.operacion}}: <span class="precio">{{destacado.precio}}</span> €{% if destacado.operacion == 'Alquiler' %}/Mes{%endif%}</h4>
							<p>{{destacado.descripcion|safe}}</p>
								<span><img style="width: 24px; height: 20px;" src="{% static 'web/img/icons/si-glyph-bed.svg' %}"> {% if destacado.dormitorios %} {{ destacado.dormitorios }}&emsp;{% else %} 0&emsp;{% endif %}</span>
								<span><img style="width: 24px; height: 20px;" src="{% static 'web/img/icons/si-glyph-toilet.svg' %}"> {% if destacado.banos %} {{ destacado.banos }}&emsp;{% else %} 0&emsp;{% endif %}</span>
								<span><img style="width: 24px; height: 20px;" src="{% static 'web/img/icons/si-glyph-shower.svg' %}">{% if destacado.aseos %} {{ destacado.aseos }}&emsp;{% else %} 0&emsp;{% endif %}</span>
							{% if destacado.superficie_construida %}<span><img style="width: 24px; height: 20px;" src="{% static 'web/img/icons/si-glyph-square-dashed-2.svg' %}"> <span class="supcons">{{ destacado.superficie_construida }}</span> (m2c)</span>{% endif %}
							{% if destacado.superficie_parcela %}<span>{% if not destacado.superficie_construida %}<img style="width: 24px; height: 20px;" src="{% static 'web/img/icons/si-glyph-square-dashed-2.svg' %}">{% endif %} <span class="supcons">{{ destacado.superficie_parcela }}</span> (m2parc)</span>{% endif %}
								<br>

							<a class="btn btn-primary info" href="{% url 'vivienda' destacado.id destacado.titulo|slugify%}">Más información</a>
						</div>
						<div class="col-md-7">
							<div class="container-fade {% if not device_is_mobile %}more-info-container{% endif %}">
							  <a href="{% url 'vivienda' destacado.id destacado.titulo|slugify%}">
								  <img class="img-fluid rounded mb-3 mb-md-0 img-more-info" src="{{destacado.imagen.url}}" style="width: 100%; height: 100%;" alt="">
								  {% if not device_is_mobile %}
									<div class="more-info"><p>Más información</p></div>
								  {% endif %}
							  </a>
							</div>
						</div>
				  </div>
				<br>
				<hr class="home_hr">
				{% endif %}
			{% endfor %}
		{% else %}
			<br>
			<h1>No se han encontrado Propiedades destacadas.</h1>
			<hr>
		{% endif %}
	</div>
</div>
{% endblock %}